html, body{
  min-height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
@font-face{
  font-family: 'PKMN-RBYGSC';
  src:local('PKMN-RBYGSC'), url('./fonts/PKMN-RBYGSC.ttf') format('truetype');
  font-weight: normal;
}
/* #root{
  background-color: black;
  height: 500%;
} */

.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.pikachu{
  background-color: rgb(243, 243, 36);
}
.pikachu-text{
  color: #000000;
}
.logo{
  max-width: 5em;
  margin-top: 1em;
} 

.navbar{
  margin-bottom: 2em;
  min-width: 100%;
}
.logo-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.title{
  min-width: 100%;
}
.navlinks{
  display: flex;
  justify-content:space-around;
  min-width: 100%;
}
.poke-cards{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}
.home-title{
  width: 100%;
  background-color: rgb(142, 22, 22);
}
.home-header{
  min-width: 100%;
  }
.single-poke-card{
  min-width: 13em;
  margin: 2em 2em 2em;
}

.collection-container{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  
}
.collection-header{
  min-width: 100%;
  background-color:   rgb(142, 22, 22);
  display: flex;
  justify-content: center;
}

.counter-container{
  min-width: 100%;
  display: flex;
  justify-content: end;
  /* background-color: aqua; */
  /* display: flex; */
  /* width: 100%;
  margin-top: 1em;
  justify-content: end;
  padding-right: 1em; */
}
.single-collection-card{
  min-width: 20em;
  margin: 2em 2em 2em;  
}

.rename-input{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 1px;
}

h1{
  color: rgb(142, 22, 22);
  font-family: PKMN-RBYGSC;
}
h2{
  color: rgb(151, 158, 164);
  font-family: PKMN-RBYGSC;
  padding-top: 7px;
}
h4{
  color: rgb(151, 158, 164);
  font-family: PKMN-RBYGSC;
}
p{
  color: rgb(151, 158, 164);
  font-family: PKMN-RBYGSC;
}

.pixel {
  line-height: 0;
  background-color: rgb(142, 22, 22);
  cursor: pointer;
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}
.pixel p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  

	background:
		linear-gradient(135deg, transparent 10px, #000000 0) top left,
		linear-gradient(225deg, transparent 10px, #000000 0) top right,
		linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat; 
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}

.pixel2 {
  line-height: 0;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}
.pixel2 p {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  color: #000000;
  

	background:
		linear-gradient(135deg, transparent 10px, #f4f404 0) top left,
		linear-gradient(225deg, transparent 10px, #f4f404 0) top right,
		linear-gradient(315deg, transparent 10px, #f4f404 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #f4f404 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat; 
	background-image:
		radial-gradient(circle at 0 0, rgba(180, 45, 45, 0) 14px, #f4f404 15px),
		radial-gradient(circle at 100% 0, rgba(169, 43, 43, 0) 14px, #f4f404 15px),
		radial-gradient(circle at 100% 100%, rgba(154, 44, 44, 0) 14px, #f4f404 15px),
		radial-gradient(circle at 0 100%, rgba(156, 33, 33, 0) 14px, #f4f404 15px);
}

.scroll-up{
  min-width: 100%;
}
.filter-container{
  min-width: 100%;
  justify-content: end;
  display: flex;
}


@media screen and (max-width: 600px) {
  .logo{
    margin-bottom: 1em;
  }
  .poke-cards {
    display: block;
    margin-left: 10%;
  }
  .collection-container{
    display: block;
  }
  .collection-header{
    margin-left: 10%;
  }
  .counter-container{
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: -1em;
    justify-content: center;
  }
}
@media screen and (max-width: 1150px){

}

