.App {
  text-align: center;
  background-color: rgb(145, 128, 108);
}

.logo{
  max-width: 5em;
} 
.navbar{
  background-color: #61dafb;
}
.logo-container{
  min-width: 100%;
}
.navlinks{
  display: flex;
  justify-content:space-around;
}
.poke-cards{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-header{
  min-width: 100%;
  margin-top: 1em;
}
.single-poke-card{
  min-width: 13em;
  margin: 2em 2em 2em;
}

.collection-container{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.collection-header{
  min-width: 100%;
}
.single-collection-card{
  min-width: 20em;
  margin: 2em 2em 2em;
}

@media screen and (max-width: 600px) {
  .poke-cards {
    display: block;
  }
  .collection-container{
    display: block;
  }
}